# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#single files to ignore

/manage.py
/pack-code.py

# Ignore virtual environments
venv/
env/
.venv/

# Ignore git-related files
.git/
.gitignore

# Ignore editor/IDE settings
.vscode/
.idea/

# Ignore Docker artifacts
Dockerfile
.dockerignore

node_modules/

./startapp.sh
./pack-code.py