version: '3.8'

services:

  scripts:
    build:
      context: .
      dockerfile: ./scripts/Dockerfile
    container_name: lenseshot_scripts
    ports:
      - "8000:8000"
    volumes:
      - ./scripts:/app          # Live updates to your Flask code
      - ./utilities:/app/utilities  # Live updates to your utilities folder
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    restart: unless-stopped
  
  projects:
    build:
      context: .
      dockerfile: ./projects/Dockerfile
    container_name: lenseshot_projects
    ports:
      - "7000:7000"
    volumes:
      - ./projects:/app          # Live updates to your Flask code
      - ./utilities:/app/utilities  # Live updates to your utilities folder
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: lenseshot_frontend
    restart: always
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports: 
      - "5173:5173"
    depends_on:
      - scripts
      - projects
