version: '3.8'

services:
  projects-api:
    build:
      context: .
      dockerfile: ./projects/Dockerfile
    container_name: projects-api
    ports:
      - "7000:7000"
    volumes:
      - ./projects:/app/projects
      - ./my-util-lib:/app/my-util-lib
    env_file:
      - ./projects/.env
    command: flask run --host=0.0.0.0 --port=7000

  scripts-api:
    build:
      context: .
      dockerfile: ./scripts/Dockerfile
    container_name: scripts-api
    ports:
      - "8000:8000"
    volumes:
      - ./scripts:/app/scripts
      - ./my-util-lib:/app/my-util-lib
    env_file:
      - ./scripts/.env
    command: flask run --host=0.0.0.0 --port=8000
