{%extends "base.html"%}


{% block title %} Register {% endblock %}

{% block content %}
<form method="POST" action="#">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Join Today</legend>
        <div>
            {{ form.username.label }}
            {{ form.username()  }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email()  }}
        </div>
        <div>
            {{ form.password.label  }}
            {{ form.password()  }}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>
        <div>
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </fieldset>


<a href="{{url_for('auth_bp.login')}}">Already have an account?</a>

</form>
{% endblock %}